@{
    ViewData["Title"] = "Home Page";
}
    <body>
        <div class="text-center">
            <h1 class="display-4" style="color:darkslateblue">Welcome To Vehicle Breakdown Assisstance </h1>
            <header>

                <img src="http://clipart-library.com/images_k/tow-truck-silhouette/tow-truck-silhouette-11.png" alt="vehicle breakdown assisstance" style="width:100%;height:200px">
                <hr>
            </header>

            <h3>Type of Vehicle?</h3>
            <input type="Text" placeholder="Car/Motorbike" />
            <br /><h3>Select Your Location</h3>
            <p id="demo"></p>
            <button onclick="getLocation()" type="submit" value="Create" >Current Location</button>
            
        </div>
    </body>

